
@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color:white; text-align:center; padding-top:5%">
    <h1>Administrador</h1>
    <br />
    <div class="row-cols-lg-3">
        <img class="img-fluid" src="~/Img/Logo1.png" />
    </div>
    <br /><br />
    <h2 class="lead">Acceso a todos los mantenimientos y reportes de la página.</h2>
</div>

