<div style="padding-top:4%">
    <footer class="bg-primary text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section>
                <p class="d-flex justify-content-center align-items-center">
                    <h3>"Toda aventura comienza con un sí"</h3>
                </p>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright
            @Html.ActionLink("GorillaAdventures.com", "Index", "Home", null, new { @class = "text-white" })
        </div>
        <!-- Copyright -->
    </footer>
</div>
